table {
  /* 電卓のサイズ */
  width: 300px;
  height: 400px;
   
  /* 入力画面を中央に配置 */
  text-align: center;
}
 
input {
  /* ボタンのサイズ */
  width: 70px;
  height: 70px;
  
  /* 文字サイズ */
  font-size: 30px;
  /* 数字部分の背景色 */
  background-color: #dcdcdca4;
}
    
/* 入力画面の詳細設定 */
.display {
  width: 300px;
  
  /* 文字を右詰めに */
  text-align: right; 
  /* 見た目の詳細設定 */
  background: #ffffff;
  border-color: solid #5a5a5a 4px;
}

/* 演算子の背景色を設定 */
.operator {
  background-color: #87cefa;
}
    
/* 記号＝の部分の背景色を設定 */
  .equal {
  background-color: #2c80b4;
}
/* カーソルを上に乗せた時に色を濃くする */
input:hover {
  background: #747373b9;
}
    
.operator:hover {
  background: #339cdd;
}
/* ディスプレイ部分は無効化 */
.display:hover {
  background: #ffffff; 
}
    
  
 
 